body {
  background-color: #fdf2e5 !important;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: rgba(158, 176, 255, 0.207);
  -webkit-box-shadow: 1px 1px 3px #464646;
  box-shadow: 1px 1px 3px #464646;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: rgb(255, 208, 179);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 3px #464646;
  box-shadow: 1px 1px 3px #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.cover-image {
  width: 100%;
}

.book-details {
  font-weight: lighter;
  margin-left: 25pt;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.book-details h3 {
  font-size: 16pt !important;
  color: rgb(123, 45, 0);
}

.image {
  border: 1px solid orangered;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
  mix-blend-mode: normal;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

.center {
  margin-left: 40% !important;
}

.btn {
  display: grid;
  place-items: center;
  background: #d59f95;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  font-size: 16pt !important;
  margin: 20px;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.05em);
  transition: transform 0.5s;
}

.read {
  background-color: #03a8f4a1 !important;
}

.input {
  border: 1px solid orangered !important;
  border-radius: 10px !important;
}

.nav-link {
  cursor: pointer;
}

.ereader {
  border: 1px solid orangered;
  height: 850px;
  border-radius: 6px;
}

.full-screen-viewer {
  width: 100vw !important;
  height: 100vh !important;
}

.middle-screen-viewer {
  width: 70vw !important;
  height: 70vh !important;
  margin: 0 auto;
}

.navbar {
  background-color: rgb(1, 42, 68) !important;
  width: 300px;
  margin: 10px auto;
  border-radius: 8px !important;
}

.nav-item .nav-link {
  color: #fff !important;
}

.nav-item {
  border-radius: 8px;
  margin: 0 25px !important;
}

.nav-item:hover {
  background-color: #03a8f4a1 !important;
}

.brand {
  font-size: 20pt;
  position: absolute;
  top: 5;
  left: 5;
  font-family: fantasy;
  letter-spacing: 1pt;
  color: rgb(1, 42, 68);
}

.nav-icon {
  font-size: 16pt;
}

.card-header {
  background-color: rgb(1, 42, 68) !important;
}

.card-header .active {
  color: rgb(1, 42, 68) !important;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid rgba(0, 102, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(1, 42, 68);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgb(1, 42, 68);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.loader::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid rgb(1, 42, 68);
  border-right: 3px solid rgb(1, 42, 68);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00aeff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px 5px rgb(1, 42, 68);
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.f-title {
  font-family: cursive;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #83a4d4, #b6fbff);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.audio-player:hover {
  transform: translateY(-5px);
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.play-pause-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.play-pause-btn:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.progress-bar {
  flex: 1;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress {
  height: 100%;
  background: linear-gradient(135deg, #4caf50, #81c784);
  transition: width 0.1s linear;
  box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.volume-speed-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.volume-control,
.speed-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-control input,
.speed-control input {
  margin: 0 10px;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  width: 100px;
  border: 1px solid blue;
  border-radius: 8px;
}

.volume-control input::-webkit-slider-thumb,
.speed-control input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.volume-control input::-moz-range-thumb,
.speed-control input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.volume-label,
.speed-label {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
  text-align: center;
}

.oscillations {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}

.oscillations.playing .bar {
  animation: oscillate 0.4s infinite ease-in-out alternate;
}

.bar {
  width: 6px;
  background-color: #4caf50;
  border-radius: 4px;
}

.bar:nth-child(1) {
  height: 13px;
  animation-delay: 0.1s;
}

.bar:nth-child(2) {
  height: 30px;
  animation-delay: 0.4s;
}

.bar:nth-child(3) {
  height: 25px;
  animation-delay: 0.3s;
}

.bar:nth-child(4) {
  height: 20px;
  animation-delay: 0.2s;
}

.bar:nth-child(5) {
  height: 35px;
  animation-delay: 0.5s;
}

.bar:nth-child(6) {
  height: 40px;
  animation-delay: 0.6s;
}

.bar:nth-child(7) {
  height: 35px;
  animation-delay: 0.5s;
}

.bar:nth-child(8) {
  height: 20px;
  animation-delay: 0.2s;
}

.bar:nth-child(9) {
  height: 25px;
  animation-delay: 0.3s;
}

.bar:nth-child(10) {
  height: 30px;
  animation-delay: 0.4s;
}

.bar:nth-child(11) {
  height: 13px;
  animation-delay: 0.1s;
}

@keyframes oscillate {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}
